<footer>
  <div class="column">
    <img src="/static/img/logo-full.svg" alt="">
    <p>🄯 Your autonomous provider</p>
  </div>
  <div class="column">
    <div class="links">
      <a href="https://twitter.com/coldwirehq" target="_blank">Follow us on twitter</a>
      <a href="/about#roadmap">Roadmap</a>
      <a href="/tos" target="_blank">Term of service</a>
    </div>
    <a href="#" class="lang">
      <img src="/static/img/icons/arrow-down.svg" alt="">
      <img src="/static/img/icons/languages.svg" alt="">
      English
    </a>
  </div>
</div>

<style>
  footer {
    position: absolute;
    bottom: 0;
    
    right: 96px; left: 96px;
    padding-top: 32px;
    margin-bottom: 64px;

    border-top: 1px solid var(--complementary-gray-3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer .column {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  footer .column img {
    max-width: 132px;
  }

  footer .column .links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 32px;
  }

  footer .column .links a {
    color: var(--complementary-white-50);
  }

  footer .column p {
    color: var(--complementary-white-50);
    font-size: 10px;
    line-height: 12px;
  }

  footer .column .lang {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
  }

  @media only screen and (max-width: 1160px) {
    footer {
      position: unset;
      margin: 32px 96px 0px 96px;
    }
  }

  @media only screen and (max-width: 690px) {
    footer .column .links {
      flex-direction: column;
      align-items: end;
    }
  }


  @media only screen and (max-width: 495px) {
    footer {
      margin: 32px 32px 32px 32px;
    }
  }
</style>