<div class="nav">
  <div class="links">
    <img src="/static/img/logo.svg" alt="">
    <a href="#">
      Services
      <img src="/static/img/icons/arrow-down.svg" alt="">
    </a>
    <a href="#">Join</a>
    <a href="#">Blog</a>
    <a href="#">About us</a>
    <a href="#" class="btn green">Donate</a>
  </div>
  <div class="settings">
    <a href="#">Sign in</a>
    <a class="btn border" href="#">Sign up</a>
    <a href="#">
      <img src="/static/img/icons/arrow-down.svg" alt="">
      <img src="/static/img/icons/languages.svg" alt="">
    </a>
  </div>
</div>

<style>
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 64px;

    padding: 0 32px 0 32px;

    display: flex;
    justify-content: space-between;
  }

  .nav .links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }

  .nav .links a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav .settings {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;

    /* to allow buttons to change text color */    
    color: var(--complementary-gray-2);
  }
</style>