<div class="nav">
  <div class="links">
    <a href="/"><img src="/static/img/logo.svg" alt=""></a>
    <a href="#">
      Services
      <img src="/static/img/icons/arrow-down.svg" alt="">
    </a>
    <a href="/join">Join</a>
    <a href="/blog">Blog</a>
    <a href="/about">About us</a>
    <a href="/donate" class="btn green">Donate</a>
  </div>
  <div class="settings">
    <a href="https://auth.coldwire.org/sign-in">Sign in</a>
    <a class="btn border" href="https://auth.coldwire.org/sign-up">Sign up</a>
    <a href="#">
      <img src="/static/img/icons/arrow-down.svg" alt="">
      <img src="/static/img/icons/languages.svg" alt="">
    </a>
  </div>
</div>

<div class="nav-mobile">
  <a href="/"><img src="/static/img/logo.svg" alt=""></a>
  <div class="links">
    <a href="/donate" class="btn green">Donate</a>
    <img src="/static/img/icons/menu.svg" alt="">
  </div>
</div>

<style>
  .nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 64px;

    padding: 0 32px 0 32px;

    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .nav-mobile .links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 64px;

    padding: 0 32px 0 32px;

    display: flex;
    justify-content: space-between;
  }

  .nav .links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }

  .nav .links a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav .settings {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 32px;

    /* to allow buttons to change text color */    
    color: var(--complementary-gray-2);
  }

  @media only screen and (max-width: 845px) {
    .nav {
      display: none;
    }

    .nav-mobile {
      display: flex;
    }
	}
</style>