<div class="background">
  <div class="people"></div>
</div>

<div class="text">
  <h1>Self-managed, resilient anonymous network fighting repression and censorship <span style="color: var(--primary-green);">:·)</span></h1>

  <div class="card">
    <p>Coldwire aims to gives you the keys to protect yourself against tracking, surveillance, and censorship.</p>
    <div class="buttons">
      <a href="#" class="btn white">Get started with Coldwire</a>
      <a href="#" class="btn border">Learn more</a>
    </div>
  </div>
</div>

<style>
  .background {
    position: absolute;
    top: 0; right: 0;
    width: 100%;
    height: 80%;

    z-index: -10;

    background: url(/static/img/background.svg) no-repeat center;
    background-size: cover;
  }

  .background .people {
    position: absolute;
    bottom: 0; right: 10%;
    width: 60%;
    height: 85%;

    background: url(/static/img/people.svg) no-repeat center;
    background-size: cover;
  }

  .text {
    max-width: 40%;

    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .card {
    margin-top: 64px;

    background: var(--primary-green);
    border-radius: 8px;

    max-width: 332px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
  }

  .card p {
    margin: 0;
  }

  .card .buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;

    /* to allow buttons to change text color */    
    color: var(--primary-green);
  }
</style>