{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<main>
  <div class="background"></div>
  <div class="text">
    <h1>Self-managed, resilient, anonymous network fighting repression and censorship <span style="color: var(--primary-green);">:·)</span></h1>
    <div class="people"></div>
    <div class="card">
      <p>Coldwire aims to gives you the keys to protect yourself against tracking, surveillance, and censorship.</p>
      <div class="buttons">
        <a href="/about#join" class="btn white">Get started with Coldwire</a>
        <a href="/about" class="btn border">Learn more</a>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
