{{ $color := "green" }}
{{ if not .IsHome }}
  {{ $color = "white" }}
{{ end }}

<div class="nav">
  <div class="links">
    <a href="/"><img src="/img/logo.svg" alt=""></a>
    <a href="#">
      Services
      <img src="/img/icons/arrow-down.svg" alt="">
    </a>
    <a href="/about#join">Join</a>
    <a href="/blog">Blog</a>
    <a href="/about">About us</a>
    <a href="/about#donate" class="btn {{ $color }}">Donate</a>
  </div>
  <div class="settings">
    <a href="https://auth.coldwire.org/sign-in">Sign in</a>
    <a class="btn border" href="https://auth.coldwire.org/sign-up">Sign up</a>
    <a href="#">
      <img src="/img/icons/arrow-down.svg" alt="">
      <img src="/img/icons/languages.svg" alt="">
    </a>
  </div>
</div>

<div class="nav-mobile">
  <a href="/"><img src="/img/logo.svg" alt=""></a>
  <div class="links">
    <a href="/about#donate" class="btn {{ $color }}">Donate</a>
    <a href="#menu"><img id="open-menu-btn" src="/img/icons/menu.svg" alt=""></a>
  </div>

  <div id="menu" class="menu">
    <a href="#"><img src="/img/icons/close.svg"></a>
    <div class="links">
      <a href="/about#join">Join</a>
      <a href="/blog">Blog</a>
      <a href="/about">About us</a>
      <a href="/about#donate">Donate</a>
      <div class="separator"></div>
      <a href="https://auth.coldwire.org/sign-in">Sign in</a>
      <a href="https://auth.coldwire.org/sign-up">Sign up</a>
    </div>
  </div>
</div>