<div class="donate">
  <img src="/static/img/ghost.svg" alt="">
  <div class="text">
    <p>Maintaining coldwire is expensive, especially since we want to be independant from any third parties, this mean that we have our own servers we built and configured by ourselves, our own network provider (AS131216) and there is still a few full-time people, programmers, designers, lawyers working on this project and who need to survive in the society, etc.</p>
    <p>By donating your are allowing us to actively continue our mission of developing new resilient, safe, free and accessible softwares, to help people all around the world to rise for their right while trying to be safe.</p>
    <br>
    <h2>Digital currencies</h2>
    <p>Due to the climate crisis, we do not accept bitcoin</p>
    <pre>
Ethereum: 0x4d4053f36B4F85e3c812d3e1e00d3860A8abC770
Monero: 4AdUndXHHZ6cfufTMvppY6JwXNouMBzSkbLYfpAV5Usx3skxNgYeYTRj5UzqtReoS44qo9mtmXCqY45DJ852K5Jv2684Rge
Oxen: bc1qmvrpvavdrfty6uctja3g9p4m3kppsu2cv6y0xg
    </pre>
    <br>
    <h2>Bank transfer</h2>
    <pre>
Bank: Alternative Bank Schweiz
IBAN: CH00 0000 0000 0000 0000 0
Adresse: Cold Networks Fund, Place de la Riponne 4, 1005 Lausanne, Switzerland
    </pre>

    <h2>Credit card</h2>
    g grave la flem de faire un form
  </div>
</div>

<style>
  .donate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
  }

  .donate .text {
    max-width: 60%;
  }

  .donate .text pre {
    overflow-x: auto;
  }

  @media only screen and (max-width: 1160px) {
    .donate img {
      display: none;
    }

    .donate .text {
      max-width: unset;
      min-width: 100%;
    }
  }
</style>