/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/static/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('/static/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/static/fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/static/fonts/montserrat-v18-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/static/fonts/montserrat-v18-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/static/fonts/montserrat-v18-latin-regular.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('/static/fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('/static/fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/static/fonts/montserrat-v18-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/static/fonts/montserrat-v18-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('/static/fonts/montserrat-v18-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/static/fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

:root {
  --primary-green: #009639;
  --primary-green-25: rgba(0, 143, 100, 0.25);
  --primary-green-1: rgba(0, 143, 100, 0.1);
  --primary-blue: #0061ff;
  --primary-blue-25: rgba(0, 97, 255, 0.25);
  --primary-blue-1: rgba(0, 97, 255, 0.1);

  --secondary-brown: #807773;
  --secondary-orange: #d9730d;
  --secondary-yellow: #dfab01;
  --secondary-green: #0f7b6c;
  --secondary-blue: #0b6e99;
  --secondary-violet: #6940a5;
  --secondary-magenta: #ad1a72;
  --secondary-red: #e03e3e;
  --secondary-gray: #9b9a97;

  --complementary-gray-1: #0d1117;
  --complementary-gray-2: #161b22;
  --complementary-gray-3: #30363d;
  --complementary-white-5: rgba(240, 246, 252, 0.05);
  --complementary-white-25: rgba(240, 246, 252, 0.25);
  --complementary-white-50: rgba(240, 246, 252, 0.5);
  --complementary-white: #f0f6fc;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: var(--complementary-gray-2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: var(--complementary-white);

	margin: 0;
}

a,
span {
	text-decoration: none;
	color: var(--complementary-white);
}

h1 {
	font-size: 36px;
	font-weight: 600;
  line-height: 42px;
}

p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.btn {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* transparent buttons */
.border {
  border: solid 1px var(--complementary-white);
}

.border:hover {
  background-color: var(--complementary-white);
  color: inherit
}

/* white buttons */
.white {
  background-color: white;
  color: inherit;
}

.white:hover {
  opacity: 0.8;
}

/* green buttons */
.green {
  background-color: var(--primary-green);
}

.green:hover {
  opacity: 0.8;
}